:root{
    --coral: rgb(240, 135, 135);
    --peach: #FFC7A7;
    --cream : #FEE2AD;
    --mint: #F8FAB4;   
    --text-color: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(135deg, var(--coral), var(--peach), var(--cream), var(--mint));
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
}
.container-lg{
    max-width: 1280px;
    margin: 0 auto;
   
}
h1{
    font-size: 2.5rem;
    color: var(--text-color);
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text-color);
}
h3{
    font-size: 18px;
}
h4{
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: var(--text-color);
}
.brand{
    display: flex;
    align-items: center;
}
.brand img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
    font-size: 1rem;
    font-weight: 500;
}
.icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    
    z-index: 1000;
    border-radius: 999px;
    margin-top: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.navigation{
    position: sticky;
    top: 20px;
    z-index: 999;
}
.navlink-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navlink{
    text-transform: uppercase;
}
.is-button{
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: 600;
    background: var(--peach);
}
.button-group{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    background: var(--peach);
    transition: background 0.3s ease, color 0.3s ease;
}
.btn-primary{
    background: var(--coral);
    color: #fff;
}
.btn-secondary{
    box-shadow: 0 2px 2px 0 rgba(31, 38, 135, 0.37);
}
.hero-section{
    padding: 60px 20px;
}
.hero-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    gap: 40px;
    padding: 0px 20px;
    background: #ffc7a78e;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.hero-image{
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hero-images{
    display: flex;
   gap: 20px;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.top-fade{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #ffc7a7fa, #ffc7a7fa 50%, transparent);
    pointer-events: none;
    z-index: 10;
}
.bottom-fade{
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #ffc7a7fa, #ffc7a7fa 50%, transparent);
    pointer-events: none;
    z-index: 10;
}

.left-slider{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    animation: slideUp 10s linear infinite;

}
.right-slider{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    animation: slideDown 10s linear infinite;

}

.about-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    padding: 60px 20px;

    background: #ffc7a78e;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.about-image{
    width: 500px;

}
.about-section{
    padding: 60px 20px;
}
.about-img{
    width: 100%;
    border-radius: 20px;
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}
.product-section{
    padding: 60px 20px;
}
.product-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.product-card{
    background: #ffc7a78e;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: grid;
}
.product-card:hover{
    transform: translateY(-10px);
}
.product-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product-details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.product-details p {
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis; 

}
.product-card:nth-child(9){
    grid-column-start: 2;
}
.why-us-section{
    padding: 60px 20px;
}
.why-us-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
    padding: 60px 20px;

    background: #ffc7a78e;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.content-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}
.why-img{
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    height: 400px;
}
.content-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.why-heading{
    font-size: 1.5em;
    margin-bottom: 12px;
}
.star-wrapper{
    display: flex;
    gap: 12px;
}
.star{
    width: 14px;
}
.testimonial-card{
    background-color: #FEE2AD;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    flex-shrink: 0;
}
.testimonial-slide-track{
    display: flex;
    gap: 40px;
}
.testimonial-section{
    padding: 60px 20px;
}
.author-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}
.testimonial-wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    border-radius: 20px;
    padding: 20px;
}
.testimonial-row{
    animation: marquee-left 15s linear infinite;
}
.testimonial-row:nth-child(2){
    animation: marquee-right 15s linear infinite;
}
.testimonial-wrapper::before{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 20%;
    background: #FEE2AD;
    background: linear-gradient(90deg, rgba(254, 226, 173, 1) 0%, rgba(254, 226, 173, 0) 100%);
    z-index: 1;
}
.testimonial-wrapper::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0 ;
    width: 20%;
    background: #FEE2AD;
    background: linear-gradient(-90deg, rgba(254, 226, 173, 1) 0%, rgba(254, 226, 173, 0) 100%);
    z-index: 1;
}
.cta-section{
    padding: 60px 20px;
}
.cta-wrapper{
    align-items: center;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #ffc7a78e;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
}
.cta-img{
    position: absolute;
    opacity: 0.3;
    width: 150px;
}
.cta-img._1st{
    bottom: 0;
    left: 0;
    transform: rotate(45deg);
}
.cta-img._2nd{
    top: 10;
    right: 0;
    transform: rotate(-45deg);
}
.cta-heading{
    margin-bottom: 0;
}
.footer-section{
    padding: 40px;
    background-color: var(--peach);
}
h5{
    font-size: 1.1em;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.container-xl{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.navigation-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.social-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-icon{
    width: 24px;
}
.social-link{
    display: flex;
    align-items: center;
    gap: 10px;
}
.copyright-row{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h6{
    font-size: 1em;
}
.menu-button{
    display: none;
}
section{
    transform: translateY(20px);
    opacity: 0;
    scroll-margin-top: 120px;
}
.visible{
    animation: entrance 1s ease;
    opacity: 1;
}
.navlink:hover{
    color: red;
    border-bottom: 1px solid red;
}
.navlink.active{
    color: red;
    border-bottom: 1px solid red;
}
.btn-secondary:hover{
    background: var(--cream);
}
.btn-primary:hover{
    background: var(--cream);
}
@keyframes entrance {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(0%);
        
    }
    100% {
        transform: translateY(-50%);
        
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-50%);
        
    }
    100% {
        transform: translateY(0%);
        
    }
}
@keyframes marquee-left{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes marquee-right{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}

@media (max-width: 786px){
    .hero-wrapper{
        grid-template-columns: 1fr;
    }
    .hero-content{
        padding: 20px;
    }
    .about-wrapper{
        grid-template-columns: 1fr;
    }
    .about-image{
        width: 100%;
    }
    .product-wrapper{
        display: flex;
        flex-direction: column;
    }
    .content-card{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .content-card:nth-child(odd){
        flex-direction: column-reverse;
    }
    .testimonial-card{
        width: 300px;
    }
    .why-img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .cta-wrapper{
        text-align: center;
    }
    nav{

    }
    .navlink-wrapper{
        background: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 101px;
        left: 0;
        
        border-radius: 20px;
        z-index: 999;
        transition: all 0.3s ease;
        height: 0px;
        overflow: hidden;
    }
    .navlink-wrapper.show{
        padding: 20px;
        height: auto;
    }
    .nav-wrapper{
        border-radius: 20px;
        background: rgba(255, 255, 255, 1);
    }
    .navigation{
        padding: 0 20px;
    }
    .menu-button{
        display: flex;
    }
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .copyright-row{
        display: flex;
        flex-direction: column;
    }
    .hero-image{
        width: 200px;
    }
}